<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="name" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['']" type="submit" color="danger" expand="block">Recuperar</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Ingrese su usuario para que pueda recuperar su contraseña.
    </small>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="image-container"><img src="assets\img\logo.png"/></div>
  </ion-toolbar>
</ion-footer>