.new-background-color{
    --background: #051286;
    --ion-text-color: #f3d00b;
    text-align: center;
  }

  .image-container{
    text-align: center;
  
    img{
      vertical-align: middle;
    }
  }