.text-container{
    text-align: center;  
}

ion-toolbar{
    opacity: inherit; 
    border-style:none;
    --background: linear-gradient;
}

ion-content {
    --background: linear-gradient(#4786ef, #f4f5f8);
  }